<?xml version="1.0"?>
<config>
  <modules>
    <MageShop_StoreSchedule>
      <version>0.2.0</version>
    </MageShop_StoreSchedule>
  </modules>

  <global>
    <helpers>
      <storeschedule>
        <class>MageShop_StoreSchedule_Helper</class>
      </storeschedule>
    </helpers>
    <blocks>
      <storeschedule>
        <class>MageShop_StoreSchedule_Block</class>
      </storeschedule>
    </blocks>
    <models>
      <storeschedule>
        <class>MageShop_StoreSchedule_Model</class>
      </storeschedule>
    </models>
    <events>
      <!-- <core_block_abstract_to_html_before>
        <observers>
          <storeschedule_product_button>
            <class>storeschedule/observer</class>
            <method>checkStoreOpenOnProductPage</method>
          </storeschedule_product_button>
        </observers>
      </core_block_abstract_to_html_before> -->
      <!-- <sales_quote_address_collect_totals_after>
        <observers>
          <storeschedule_shipping_filter>
            <class>storeschedule/observer</class>
            <method>filterShippingMethods</method>
          </storeschedule_shipping_filter>
        </observers>
      </sales_quote_address_collect_totals_after> -->
      <sales_quote_address_collect_totals_before>
        <observers>
          <storeschedule_check_shipping>
            <class>storeschedule/observer</class>
            <method>checkShippingMethods</method>
          </storeschedule_check_shipping>
        </observers>
      </sales_quote_address_collect_totals_before>
    </events>
  </global>

  <default>
    <storeschedule>
      <settings>
        <enabled>1</enabled>
      </settings>
    </storeschedule>
  </default>

  <frontend>
    <routers>
      <storeschedule>
        <use>standard</use>
        <args>
          <module>MageShop_StoreSchedule</module>
          <frontName>storeschedule</frontName>
        </args>
      </storeschedule>
    </routers>
    <layout>
      <updates>
        <storeschedule>
          <file>storeschedule.xml</file>
        </storeschedule>
      </updates>
    </layout>
  </frontend>

  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <storeschedule>
                      <title>Store Schedule</title>
                    </storeschedule>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>

</config>
