<?xml version="1.0"?>
<config>
    <modules>
        <MageShop_AntiOrderScript>
            <version>1.0.0</version>
        </MageShop_AntiOrderScript>
    </modules>
    <global>
        <models>
            <mageshop_antiorderscript>
                <class>MageShop_AntiOrderScript_Model</class>
            </mageshop_antiorderscript>
        </models>
        <helpers>
            <mageshop_antiorderscript>
                <class>MageShop_AntiOrderScript_Helper</class>
            </mageshop_antiorderscript>
        </helpers>

        <events>
            <sales_order_place_before>
                <observers>
                    <antiorderscript_valida_dados>
                        <type>singleton</type>
                        <class>mageshop_antiorderscript/observer</class>
                        <method>validarPedido</method>
                    </antiorderscript_valida_dados>
                </observers>
            </sales_order_place_before>

            <customer_save_before>
                <observers>
                    <antiorderscript_valida_cadastro>
                        <type>singleton</type>
                        <class>mageshop_antiorderscript/observer</class>
                        <method>validarCadastro</method>
                    </antiorderscript_valida_cadastro>
                </observers>
            </customer_save_before>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customer>
                                            <children>
                                                <antiorderscript_validation translate="title" module="mageshop_antiorderscript">
                                                    <title>Proteção Contra Scripts</title>
                                                </antiorderscript_validation>
                                            </children>
                                        </customer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <customer>
            <antiorderscript_validation>
                <enable_module>0</enable_module>
                <enable_log>0</enable_log>
            </antiorderscript_validation>
        </customer>
    </default>
</config>