<?xml version="1.0"?>
<config>
    <modules>
        <MageShop_CustomerValidation>
            <version>1.0.0</version>
        </MageShop_CustomerValidation>
    </modules>
    <global>
        <models>
            <customer>
                <rewrite>
                    <customer>MageShop_CustomerValidation_Model_Customer</customer>
                </rewrite>
            </customer>
        </models>
    </global>
    <default>
        <customer>
            <create_account>
                <enable_customer_validation>0</enable_customer_validation>
            </create_account>
        </customer>
    </default>
</config>
