<?xml version="1.0"?>
<config>
  <sections>
    <sales_email translate="label" module="sales">
      <groups>
        <order_cancel translate="label" module="mageshop_setmailtocancel">
          <label>Cancelamento</label>
          <sort_order>999</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>

          <fields>
            <enabled translate="label">
              <label>Habilitado</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>

            <email_identity translate="label">
              <label>Remetente de Email p/ Cancelamento</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_identity</source_model>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </email_identity>

            <email_template translate="label">
              <label>Template de Email p/ Cancelamento de Pedido</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </email_template>

            <copy_to translate="label">
              <label>Enviar Cópia de Email de Cancelamento Para</label>
              <frontend_type>text</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Separado por Vírgula.</comment>
            </copy_to>

            <copy_method translate="label">
              <label>Tipo de Cópia</label>
              <frontend_type>select</frontend_type>
              <source_model>mageshop_setmailtocancel/system_config_source_email_copymethod</source_model>
              <sort_order>50</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </copy_method>
          </fields>
        </order_cancel>
      </groups>
    </sales_email>
  </sections>
</config>