<?xml version="1.0"?>
<config>
  <modules>
    <MageShop_FreeGiftCart>
      <version>1.0.0</version>
    </MageShop_FreeGiftCart>
  </modules>

  <global>
    <!-- Helpers -->
    <helpers>
      <mageshop_freegiftcarthelper>
        <class>MageShop_FreeGiftCart_Helper</class>
      </mageshop_freegiftcarthelper>
    </helpers>

    <!-- Models -->
    <models>
      <mageshop_freegiftcart>
        <class>MageShop_FreeGiftCart_Model</class>
      </mageshop_freegiftcart>
    </models>

    <!-- Events / Observers -->
    <events>
      <checkout_cart_save_after>
        <observers>
          <mageshop_freegiftcart_check_cart_brindes_save>
            <type>singleton</type>
            <class>mageshop_freegiftcart/observer</class>
            <method>verificaBrindes</method>
          </mageshop_freegiftcart_check_cart_brindes_save>
        </observers>
      </checkout_cart_save_after>

      <controller_action_postdispatch_checkout_cart_delete>
        <observers>
          <mageshop_freegiftcart_check_cart_brindes_postdelete>
            <type>singleton</type>
            <class>mageshop_freegiftcart/observer</class>
            <method>verificaBrindes</method>
          </mageshop_freegiftcart_check_cart_brindes_postdelete>
        </observers>
      </controller_action_postdispatch_checkout_cart_delete>

      <sales_quote_item_qty_set_after>
        <observers>
          <mageshop_freegiftcart_fix_qty>
            <type>singleton</type>
            <class>mageshop_freegiftcart/observer</class>
            <method>fixBrindeQty</method>
          </mageshop_freegiftcart_fix_qty>
        </observers>
      </sales_quote_item_qty_set_after>
    </events>

    <resources>
      <freegiftcart_setup>
        <setup>
          <module>MageShop_FreeGiftCart</module>
          <class>Mage_Eav_Model_Entity_Setup</class>
        </setup>
      </freegiftcart_setup>
    </resources>
  </global>

  <frontend>
    <routers>
      <freegiftcart>
        <use>standard</use>
        <args>
          <module>MageShop_FreeGiftCart</module>
          <frontName>adicionarnocarrinho</frontName>
        </args>
      </freegiftcart>
    </routers>
  </frontend>

  <default>
    <catalog>
      <frontend>
        <freegiftcart_active>0</freegiftcart_active>
      </frontend>
    </catalog>
  </default>
</config>
